* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  z-index: 10;
}

.green-button {
  background-color: #1f9f24;
  color: #ffffff;
  border-radius: 5px;
  width: 130px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.black-button {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 10px;
}

/* Start Header*/
header {
  background-color: #000000;
  position: relative;
  z-index: 100;
  border-radius: 0 0 15px 15px;
}

header .navbar-brand img {
  width: 195px;
  position: relative;
  right: 20px;
}

/* End Header*/
/* Start Nav */
nav button svg {
  color: #ffffff;
}

nav .navbar-nav {
  border-radius: 0 0 5px 5px;
}

nav .navbar-nav .nav-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0;
  position: relative;
}

nav .navbar-nav .nav-item .nav-link .active::after, nav .navbar-nav .nav-item .nav-link:not(.nav-link.green-button)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#3f52bd));
  background-image: linear-gradient(to right, #31ff3a 30%, #3f52bd, #3f52bd);
  width: 0%;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav .navbar-nav .nav-item .nav-link:not(.nav-link.green-button).active::after {
  width: 100%;
  left: 0;
}

nav .navbar-nav .nav-item .nav-link:not(.nav-link.green-button):hover::after {
  width: 100%;
  left: 0;
}

/* End Nav */
/* Start Landing */
.landing-section .container .landing-info h1 {
  color: #000000;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (min-width: 992px) and (min-width: 992px) {
  .landing-section .container .landing-info h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .landing-section .container .landing-info h1 {
    font-size: 2.5rem;
  }
}

.landing-section .container .landing-info h1 span {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#31ff3a));
  background-image: linear-gradient(to right, #31ff3a 30%, #3f52bd, #31ff3a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-section .container .landing-info p {
  color: #979797;
  font-size: 1.2rem;
  width: 100%;
}

@media (min-width: 768px) and (min-width: 992px) {
  .landing-section .container .landing-info p {
    width: 80%;
  }
}

.landing-section .container .images {
  position: relative;
  text-align: right;
}

.landing-section .container .images img {
  border-radius: 15px;
}

.landing-section .container .images img,
.landing-section .container .images div {
  -webkit-box-shadow: 0 0 20px 5px #97979747;
          box-shadow: 0 0 20px 5px #97979747;
}

.landing-section .container .images img:first-child {
  position: relative;
  right: 0;
  width: 280px;
  height: 400px;
}

@media (min-width: 768px) and (min-width: 576px) {
  .landing-section .container .images img:first-child {
    width: 325px;
    height: 450px;
    right: 40px;
  }
}

.landing-section .container .images .img2 {
  top: 4%;
  left: -1%;
  width: 44%;
  height: 50%;
  border-radius: 15px;
  position: absolute;
  background-image: url(/images/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) and (min-width: 576px) {
  .landing-section .container .images .img2 {
    top: 3%;
    left: 10%;
    width: 35%;
    height: 48%;
  }
}

.landing-section .container .images .img3 {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  position: absolute;
  bottom: -20%;
  left: -1%;
  background-image: url(/images/img3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -120px;
}

@media (min-width: 768px) and (min-width: 576px) {
  .landing-section .container .images .img3 {
    bottom: -10%;
    left: 10%;
  }
}

/* End Landing */
/* Start Projects */
.projects {
  position: relative;
}

.projects > img {
  position: absolute;
  top: 380px;
  left: 0;
  width: 80%;
}

@media (min-width: 576px) and (min-width: 576px) {
  .projects > img {
    width: 450px;
    top: 330px;
    left: 0;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .projects > img {
    width: 50%;
    top: -75px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .projects > img {
    width: 35%;
    top: -85px;
  }
}

.projects .container .project-boxs {
  margin-top: 150px;
}

@media (min-width: 768px) and (min-width: 576px) {
  .projects .container .project-boxs {
    margin-top: 0;
  }
}

.projects .container .project-boxs .box > div {
  background-color: #000000;
  color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (min-width: 576px) {
  .projects .container .project-boxs .box > div {
    width: 200px;
    height: 200px;
  }
}

.projects .container .project-boxs .box > div h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}

@media (min-width: 992px) and (min-width: 992px) {
  .projects .container .project-boxs .box > div h1 {
    font-size: 3.5rem;
  }
}

.projects .container .project-boxs .box > div p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 992px) and (min-width: 992px) {
  .projects .container .project-boxs .box > div p {
    font-size: 1.5rem;
  }
}

.projects .container .project-boxs .box.active > div {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #979797;
}

.projects .container .project-boxs .box.active > div h1 {
  color: #000000;
}

.projects .container .project-boxs .box.active > div p {
  color: #000000;
}

.projects .container .project-boxs .box:nth-child(2) {
  margin-top: 2rem;
}

.projects .container .project-boxs .box:nth-child(3) {
  position: relative;
  bottom: 30px;
}

.projects .container .info h1 {
  color: #5f5f5f;
  font-size: 1.7rem;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  padding-left: 15px;
}

@media (min-width: 768px) and (min-width: 768px) {
  .projects .container .info h1 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .projects .container .info h1 {
    width: 60%;
  }
}

@media (min-width: 1200px) and (min-width: 1200px) {
  .projects .container .info h1 {
    font-size: 2.7rem;
  }
}

.projects .container .info h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#3f52bd));
  background-image: linear-gradient(to bottom, #31ff3a 30%, #3f52bd, #3f52bd);
}

.projects .container .info h1 span {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#3f52bd));
  background-image: linear-gradient(to right, #31ff3a 30%, #3f52bd, #3f52bd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects .container .info p {
  color: #979797;
  font-size: 1.2rem;
}

@media (min-width: 992px) and (min-width: 992px) {
  .projects .container .info p {
    width: 60%;
  }
}

/* End Projects */
/* Start who-we-are-section*/
.who-we-are-section {
  position: relative;
}

.who-we-are-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 28%;
  width: 190%;
  height: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 0 15px 15px 0;
  z-index: -1;
}

@media (min-width: 576px) and (min-width: 576px) {
  .who-we-are-section::after {
    top: 33%;
    width: 135%;
    height: 45%;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .who-we-are-section::after {
    top: 37%;
    width: 140%;
    height: 54%;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .who-we-are-section::after {
    top: 50%;
    width: 102%;
    height: 73%;
  }
}

.who-we-are-section .container .image img {
  max-width: 100%;
}

@media (min-width: 576px) and (min-width: 576px) {
  .who-we-are-section .container .image img {
    max-width: 70%;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .who-we-are-section .container .image img {
    max-width: 73%;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .who-we-are-section .container .image img {
    max-width: 100%;
  }
}

.who-we-are-section .container .info h1 {
  color: #5f5f5f;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.who-we-are-section .container .info h1 span {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#3f52bd));
  background-image: linear-gradient(to right, #31ff3a 30%, #3f52bd, #3f52bd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.who-we-are-section .container .info p {
  color: #979797;
  font-size: 1.2rem;
}

/* End who-we-are-section*/
/* Start Our Expertise */
.our-expertise {
  background-color: #000000;
}

.our-expertise .container .info h1 {
  color: #ffffff;
  text-transform: uppercase;
}

.our-expertise .container .info h1 span {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#3f52bd));
  background-image: linear-gradient(to right, #31ff3a 30%, #3f52bd, #3f52bd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-expertise .container .info p {
  color: #d8d8d8;
  font-size: 1.2rem;
  width: 100%;
}

@media (min-width: 992px) and (min-width: 992px) {
  .our-expertise .container .info p {
    width: 45%;
  }
}

.our-expertise .container .services-boxs {
  background-image: url(/images/robot-plane.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) and (min-width: 768px) {
  .our-expertise .container .services-boxs {
    background-size: auto;
  }
}

.our-expertise .container .services-boxs .row {
  height: 70vh;
}

@media (min-width: 992px) and (min-width: 992px) {
  .our-expertise .container .services-boxs .row {
    height: 450px;
  }
}

.our-expertise .container .services-boxs .box img {
  width: 70px;
}

.our-expertise .container .services-boxs .box h2 {
  color: #ffffff;
  font-size: 1.6rem;
}

.our-expertise .container .services-boxs .box p {
  color: #d8d8d8;
}

/* End Our Expertise */
/* Start Contact */
.contact .container .image img {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 5px #0000003d;
          box-shadow: 0px 0px 15px 5px #0000003d;
  max-width: 100%;
}

@media (min-width: 768px) and (min-width: 768px) {
  .contact .container .image img {
    max-width: 60%;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .contact .container .image img {
    max-width: 100%;
  }
}

.contact .container .info h1 {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.7rem;
}

@media (min-width: 768px) and (min-width: 768px) {
  .contact .container .info h1 {
    font-size: 2rem;
  }
}

.contact .container .info h1 span {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #31ff3a), color-stop(#3f52bd), to(#3f52bd));
  background-image: linear-gradient(to right, #31ff3a 30%, #3f52bd, #3f52bd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .container .info p {
  color: #979797;
  font-size: 1.2rem;
  margin: 0;
  width: 70%;
}

.contact .container .info form {
  -webkit-box-shadow: 0px 6px 6px 2px #0000003d;
          box-shadow: 0px 6px 6px 2px #0000003d;
  border-radius: 6px;
}

.contact .container .info form label {
  background-color: #ffffff;
  color: #979797;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 18px 0 10px;
  position: relative;
  top: 12px;
  left: 5%;
}

.contact .container .info form input[type="text"],
.contact .container .info form textarea {
  border: 1px solid #979797;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  color: #000000;
  caret-color: #4e7aff;
}

.contact .container .info form textarea {
  resize: none;
  height: 150px;
}

.contact .container .info form input[type="submit"] {
  padding: 10px 30px;
  text-transform: uppercase;
}

/* End Contact */
/* Start Footer */
footer {
  background-color: #000000;
}

footer .container .logo {
  position: relative;
  left: -30px;
}

footer .container .logo img {
  width: 250px;
}

footer .container .info p {
  color: #d8d8d8;
}

footer .container ul p {
  color: #ffffff;
  font-weight: bold;
}

footer .container ul li {
  margin-bottom: 8px;
}

footer .container ul li p {
  color: #d8d8d8;
  font-weight: normal;
}

footer .container ul li a {
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .container ul li a:hover {
  color: #31ff3a;
}

footer .container .social-links li a {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .container .social-links li a:hover {
  background-color: #31ff3a;
}

footer .container .social-links li a svg {
  width: 10px;
}

footer .container .social-links li:nth-child(2) a svg,
footer .container .social-links li:nth-child(3) a svg {
  width: 15px;
}

footer .container .social-links li:last-child a svg {
  width: 12px;
}

footer .copyright {
  text-align: center;
  width: 100%;
  padding: 25px;
  border-top: 1px solid #ffffff1a;
}

footer .copyright p {
  color: #ffffff;
}

footer .copyright p span {
  color: #31ff3a;
  font-weight: bold;
}

/* End Footer */
/*# sourceMappingURL=style.css.map */