// border radius
$rounded-5: 5px;
$rounded-6: 6px;
$rounded-15: 15px;

// transition time
$transition: 0.3s ease-in-out;

// font size
$fontSize: 1.2rem;

// transition time
$transition: 0.3s ease-in-out;
